.list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  .toggleListButton {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 4px 8px;
    outline: none;
    margin: 0 0 15px 0;
  }
  h2 {
    width: 100%;
  }
}

.listItems {
  width: 100%;
  margin: 0;
  padding: 0;

  li {
    margin: 10px 0;
    padding: 17px 0 15px 15px;
    border: 1px solid #999;
    border-radius: 3px;
    list-style: none;
    list-style-position: inside;

    button {
      float: right;
      clear: right;
      margin: -12px 0 0 0;
      padding: 0 10px;
      border: 0;
      outline: none;
      cursor: pointer;
    }
  }
}
