.list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  .toggleListButton {
    border: 1px solid $borderColor;
    border-radius: 3px;
    background: $buttonBackground;
    padding: 4px 8px;
    outline: none;
    font-size: 14px;
    margin: -44px 0 15px 0;
    transition: background 0.5s;

    .buttonName {
      text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333,
        1px 1px 0 #333;
    }

    &:hover {
      background: $buttonHover;
    }
  }
  h2 {
    width: 100%;
  }
}

.listItems {
  width: 100%;
  margin: 0;
  padding: 0;

  li {
    margin: 10px 0;
    padding: 17px 0 15px 15px;
    background: $secondBackground;
    border: 1px solid $borderColor;
    border-radius: 3px;
    box-shadow: inset 0 0 $boxShadowRadius $boxShadowSpread $boxShadowColor;
    list-style: none;
    list-style-position: inside;
    text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333,
      1px 1px 0 #333;

    &:first-child {
      margin-top: 0;
    }

    button {
      float: right;
      clear: right;
      margin: -12px 0 0 0;
      padding: 0 10px;
      background: transparent;
      border: 0;
      font-size: 12px;
      outline: none;
      cursor: pointer;
      &:hover {
        color: darken($mainFontColor, 20%);
      }
    }
  }
}
