.aorb {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;

  h2 {
    width: 100%;
  }

  p {
    color: darken($mainFontColor, 40%);
    font-style: italic;
  }

  .buttonA {
    margin: 0 10px 10px 0;
  }

  .buttonB {
    margin: 0 0 10px 0;
  }

  .buttonA,
  .buttonB {
    padding: 17px 30px 15px 30px;
    border: 1px solid $borderColor;
    border-radius: 3px;
    box-shadow: 0 0 $boxShadowRadius $boxShadowSpread $boxShadowColor;
    background: none;
    background: $buttonBackground;
    outline: none;
    font-size: 18px;
    flex: 1;
    -webkit-tap-highlight-color: transparent;
    user-select: none;

    .buttonName {
      text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333,
        1px 1px 0 #333;
    }

    &:hover {
      background: $buttonHover;
    }
  }
}
