@import "components/AddItemForm/_additemform.scss",
  "components/Results/_results.scss",
  "components/List/_list.scss",
  "components/AorB/_aorb.scss";

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fcfcff;
  font-family: sans-serif;
  font-size: 18px;
}

ul li {
  background-color: #fff;
}

.App {
  width: 100%;
  min-width: 400px;
  max-width: 600px;
  margin: 30px auto;
}

h1,
h2,
h3 {
  text-align: center;
}
