.addItemForm {
  text-align: center;

  form {
    display: flex;
    justify-content: space-between;
  }

  input[type="text"] {
    background: linear-gradient(180deg, #555, #5a5a5a 50%);
    border: 1px solid $borderColor;
    border-radius: 3px;
    box-shadow: inset 0 0 $boxShadowRadius $boxShadowSpread $boxShadowColor;
    color: #999;
    flex-grow: 1;
    font-size: 18px;
    outline: none;
    padding: 17px 15px 15px 15px;

    &:focus {
      background: $secondBackground;
    }
  }

  .addItemSubmit {
    background: none;
    background: $buttonBackground;
    border: 1px solid $borderColor;
    border-radius: 3px;
    box-shadow: 0 0 $boxShadowRadius $boxShadowSpread $boxShadowColor;
    font-size: 18px;
    margin: 0 0 0 10px;
    outline: none;
    padding: 17px 30px 15px 30px;
    transition: background 0.5s;

    .buttonName {
      text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333,
        1px 1px 0 #333;
    }

    &:hover {
      background: $buttonHover;
    }
  }

  p {
    color: darken($mainFontColor, 40%);
    font-style: italic;
  }
}
